[submodule "chef-desires-recipes"]
	path = chef-desires-recipes
	url = https://github.com/andream-castronovo/chef-desires-recipes
[submodule "chef-desires-gateway"]
	path = chef-desires-gateway
	url = https://github.com/andream-castronovo/chef-desires-gateway
